<div class="row">
    <div class="input-field col s3">
      <select class="drop-down" (change)="onChange($event.target.value)" >
        <option value="" disabled selected>Choose your option</option>
        <option value="All">All</option>
        <option value="Rapper">Rapper</option>
        <option value="Rb">R + B Artist</option>
        <option value="Singer">Singer</option>
      </select>
    </div>
  </div>
  <br>

<div class="row">
  <div *ngFor="let member of members | async | memberfilter:filterBySkill">
    <h3 (click)=getMember(member.$key)>{{member.name}}({{member.aka}})</h3>
  </div>
  <div class="add_button">
    <button class="btn" routerLink='add-new'>Add Member!</button>
  </div>
</div>
